<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RSA Sign</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>RSA SHA1 签名</h1>
    <div class="row">
        <div class="col-xs-6">
            <h3>私钥 PCSK8</h3>
            <textarea id="privateKey" name="privateKey" rows="10" cols="65">
            -----BEGIN PRIVATE KEY-----
            MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAJnv84qfZoA6+N/J
            uqv6lsrWiEnCYrNuNODa60tj8srwpl7eiYgzUagcx0CbPILC5uO7QSG1ISBwu/Dv
            Y2IW8EpG5tE4mPA8tCvyqUiS9/+CzRn5X3MTaXl2DF/cfd84mbEav9iKr66MMTe5
            M2R8h7MriHfSmGnrysDEa5V9Lyh9AgMBAAECgYAuoSzYtOhLt5Fj2KufJM1ArDOk
            hCl5yMxjwGy97YzCRJtg6XAnvcPidLU2sM9nnLpsCXD1UPSz6vJDTYCBWgl3PiiL
            +gIG6sSf7PehFVQD1MRI7vMczSKJcyf88V2SNcew9AUDth+Kt1Z8kTWbrpKXlcl9
            326b/Rl4wW244ads0QJBAMybqy8ozDNIU87wAjhsup+7Nf5okdrlhpBH0Rj0rObn
            VTvaJjqlVzRVVcN+ZPnR9PATlsTk2Qm/EVFyhZ6VtW8CQQDAmiTrs36aoTJV3exH
            mXBpcFCR1xvQe9ExXjfh/QDB6frz0GWR+LB9px2kzIICjTk/7ibvUEdUy82jerVn
            PELTAkEAgX3/4C/c1JPw3qYNcbJ2hkMQj/uUW8op2MRq9HVdvCEqU1/kE/eych+T
            0M78jxMvBoYPRHtlVQLErhxhrpUnJwJAJfp/S0cCsQUWQt5W6Ct2giQWjxuGrY6s
            ynpUtKhKDPLRfGBclvMeAjkA3G1DObOVVWjlno0K88qYSyM4QBoe5wJAT3+BmNQE
            ImnsejuPvUjBBkcR2OuE0D05/y9+KLvwg4dM0tQu8p3Bu9MYm4hg2kEmb6BgtzFX
            R0xCSm5asabffg==
            -----END PRIVATE KEY-----
            </textarea>
        </div>
        <div class="col-xs-6">
            <h3>公钥</h3>
            <textarea id="publicKey" name="publicKey" rows="10" cols="65">
            -----BEGIN PUBLIC KEY-----
            MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCZ7/OKn2aAOvjfybqr+pbK1ohJ
            wmKzbjTg2utLY/LK8KZe3omIM1GoHMdAmzyCwubju0EhtSEgcLvw72NiFvBKRubR
            OJjwPLQr8qlIkvf/gs0Z+V9zE2l5dgxf3H3fOJmxGr/Yiq+ujDE3uTNkfIezK4h3
            0php68rAxGuVfS8ofQIDAQAB
            -----END PUBLIC KEY-----
            </textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>待签名字符串</h3>
            <input id="waitSignText" class="form-control" name="signText" value='{"userId":"6831","page":"1","size":"10"}'/>
            <button id="signBtn" type="button" class="btn btn-primary" style="margin:10px 0 ;">签名</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>签名字符串</h3>
            <input id="signText" class="form-control" name="signText" value=""/>
            <button id="verifySignBtn" type="button" class="btn btn-primary" style="margin:10px 0 ;">验证签名</button>
        </div>
    </div>

</div>

</body>

<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/jsrsasign-latest-all-min.js"></script>
<script>



    $("#signBtn").on('click',function(){
        //业务参数
        var sMsg = $("#waitSignText").val();
        //生成签名
        var hSig = doSign(sMsg);
        $("#signText").val(hSig);
    });

    $('#verifySignBtn').on('click',function(){

        //业务参数
        var sMsg = $("#waitSignText").val();
        var hSig = $("#signText").val();

        //服务端验证签名
        $.ajax({
            url:'/rss-verify-sign',
            dataType: "json",
            type:'POST',
            beforeSend: function(request) {
                request.setRequestHeader("Signature", hSig);
                request.setRequestHeader("Content-Type", "application/json;charset:utf-8");
            },
            data: sMsg,
            success:function(response){
                console.info(response);
                alert(response.msg);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.info("error");
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }
        });

        //客户端自验证签名
        doVerify(sMsg,hSig);
    });

    function doSign(sMsg) {

        var hashAlg = "sha1";
        var privateKey = document.getElementById("privateKey").value;

        var rsa = new RSAKey();
        rsa = KEYUTIL.getKey(privateKey);
        var sigValueHex = rsa.sign(sMsg, hashAlg);
        console.info("生成的签名字符串："+sigValueHex);
        return sigValueHex;
    }

    function doVerify(sMsg,hSig) {

        var pubKey = KEYUTIL.getKey(document.getElementById("publicKey").value);
        var isValid = pubKey.verify(sMsg, hSig);
        if (isValid) {
            console.info("客户端自验签成功");
        } else {
            console.info("客户端自验签失败");
        }
    }

</script>


</html>