<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JS 3DES 加密</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <h1>3DES ECB模式加密</h1>
    <div class="row">
        <div class="col-xs-12">
        <h3>KEY</h3>
        <input id="3desKey" class="form-control" name="3desKey" value="abcdefghijklmnopqrstuvwx"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>要加密字符串</h3>
            <input id="3desPlaintext" class="form-control" name="3desPlaintext" value="hello world"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>加密后的字符串</h3>
            <input id="3desPwdText" class="form-control" name="signText" value=""/>
            <button id="3desEncy" type="button" class="btn btn-primary" style="margin:10px 0 ;">3DES加密</button>
        </div>
    </div>
</div>

</body>
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/crypto-js.js"></script>
<script>

$('#3desEncy').on('click',function(){
    var key = document.getElementById("3desKey").value;
    var plaintText = document.getElementById('3desPlaintext').value;
	var des3Pwd = des3Ency(key,plaintText);
    $("#3desPwdText").val(des3Pwd);
	console.log(des3Pwd);

    $.ajax({
        url:'/3des-verify',
        dataType: "json",
        type:'POST',
        beforeSend: function(request) {
            request.setRequestHeader("Key", key);
            request.setRequestHeader("Content-Type", "application/json;charset:utf-8");
        },
        data: '{"pwd":"'+des3Pwd+'"}',
        success:function(response){
            console.info(response);
            alert(response.msg);

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            console.info("error");
            alert(XMLHttpRequest.status);
            alert(XMLHttpRequest.readyState);
            alert(textStatus);
        }
    });

});

function des3Ency(k,s){
    // 3des密钥 K
    // base64编码key
    var base64 =  CryptoJS.enc.Utf8.parse(k);
    // 3des加密
    var encrypted = CryptoJS.TripleDES.encrypt(s, base64, {
	    mode: CryptoJS.mode.ECB}
    );
    //最终密文
    // var payPwd =  CryptoJS.enc.Base64.stringify(CryptoJS.enc.Utf8.parse(encrypted));
    // console.info(payPwd.toString());
    return encrypted.toString();
}

</script>
</html>